include *.py
include *.rst
include *.yml
include .coveragerc
include buildout.cfg
include pytest.ini
include src/batou_scm/resources/hgrc

exclude MANIFEST.in

recursive-include doc *.py
recursive-include doc *.txt
recursive-include src *.cfg
